@model IEnumerable<Book>
@{
    ViewData["Title"] = "Index";
}

<div class="row" style="padding-top:30px;padding-bottom:50px">
    <div class="col-sm">
        <a class="btn btn-primary" asp-controller="UserCenter" asp-action="Index" role="button">我的小说</a>
    </div>
    <div class="col-sm">
        <a class="btn btn-primary" asp-controller="Collection" asp-action="Index" role="button">我的收藏</a>
    </div>
    <div class="col-sm">
        <a class="btn btn-primary" asp-controller="Submission" asp-action="Index" role="button">投稿</a>
    </div>
    <div class="col-sm">
        <a class="btn btn-primary" asp-controller="Manage" asp-action="Index" role="button">投稿管理</a>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">书名</th>
            <th scope="col">作者</th>
            <th scope="col">管理</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.Id</th>
                <td>@item.bookName</td>
                <td>@item.userName</td>
                <td>
                    <a class="btn btn-primary" asp-action="Pass" asp-route-Id="@item.Id" role="button">通过</a>
                    <a class="btn btn-primary" asp-action="Del" asp-route-Id="@item.Id" role="button">删除</a>
                </td>
            </tr>
        }
    </tbody>
</table>